<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BackstopCrmService_1_6HttpBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="BackstopCrmService_1_6HttpBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://demo01.backstopsolutions.com/backstop/services/BackstopCrmService_1_6"
                binding="basicHttpBinding" bindingConfiguration="BackstopCrmService_1_6HttpBinding"
                contract="BackstopCrm.BackstopCrmService_1_6PortType" name="BackstopCrmService_1_6HttpPort" />
        </client>
    </system.serviceModel>
</configuration>